{% extends "accounts/base.html" %}
{% load static %}

{% block public_shell_class %}auth-shell--api-docs{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'accounts/css/api-docs.css' %}">
{% endblock %}

{% block public_content %}
{% include "accounts/partials/api_docs_explorer.html" with full_page=True catalog=catalog %}
{% endblock %}

{% block public_footer %}{% endblock %}

{% block extra_js %}
<script src="{% static 'accounts/js/api-docs-highlight.js' %}" defer></script>
<script src="{% static 'accounts/js/api-docs-lang-icons.js' %}" defer></script>
<script src="{% static 'accounts/js/api-docs-snippets.js' %}" defer></script>
<script src="{% static 'accounts/js/api-docs.js' %}" defer></script>
{% endblock %}
